
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  text-align: center;
  font-family: helvetica, sans-serif;
  font-size: 24px;
  background-color: black;
}

.me {
  width: 450px;
  height: 300px;
}

h1 {
  font-size: 40px;
  color: white;
  font-weight: lighter;
}

hr {
  width: 400px;
}

h2 {
  font-size: 30px;
  color: white;
}

p {
  font-size: 24px;
  font-weight: lighter;
  color: white;
  text-align: center;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin-right: 40px;
}

nav li a {
  text-decoration: none;
  color: white;
  -webkit-transition: 300ms;
  transition: 300ms;
}

nav li a:hover {
  color: #d0ffd6;
}

nav li .activ {
  text-decoration: underline;
}

.wrapper {
  max-width: 43.75em;
  margin-left: auto;
  margin-right: auto;
}

.wrapper::after {
  clear: both;
  content: "";
  display: table;
}

.profile {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%;
  margin-left: 8.5298042998%;
  padding-top: 30px;
}

.profile:last-child {
  margin-right: 0;
}

.profile img {
  width: 100%;
}

.about {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 57.3509785009%;
}

.about:last-child {
  margin-right: 0;
}

.about h2 {
  text-align: left;
}

.about p {
  text-align: left;
}

.about hr {
  width: 100%;
}

.work a {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%;
  color: white;
  text-decoration: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.work a:last-child {
  margin-right: 0;
}

.work a:hover {
  color: #d0ffd6;
}

.work img {
  width: 100%;
}

.work .foto {
  margin-top: 120px;
}

.photo a {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 30.0556047414%;
}

.photo a:last-child {
  margin-right: 0;
}

.photo img {
  width: 100%;
}

.graphic a {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 30.0556047414%;
}

.graphic a:last-child {
  margin-right: 0;
}

.graphic img {
  width: 100%;
}
